%section.inverse-section.home-hero
	.container
		.row
			.col-lg-12.text-center
				%h2
					Access over 8,000 marketing records
				.row
					.col-sm-3
					.col-sm-6
						%p.margin-bottom
							= lorem.sentences 5
					.col-sm-3

				%a.btn.btn-wire{:href=>"#"}
					Contact Sales
